<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>删除数据</title>
  </head>
  <body>
    <form action="/deleteStudents/" method="post">
      <label for="name">请输入姓名：</label>
      <input type="text" name="name" style="width:105px">
      <input type="reset" value="重置" name="name">
      <input type="submit" value="删除">
    </form>
    {% if result.statu == 'success' %}
    <p>删除成功</p>
    {% elif result.statu == 'error' %}
    <p>查无此人</p>
    {% endif %}
  </body>
</html>
