<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>我的第一个Django项目</title>
  </head>
  <body>
    <div>
    <h1>插入数据</h1>
    <form id="Students" action="/students/" method="post">{% csrf_token %}
      <input type="text" name="name">
      <input type="number" name="age">
      <input type="submit" name="Students" value="提交">
    </form>
    <hr>
    </div>
    <div>
    <h1>数据显示</h1>
    <table border="1">
      <thead>
        <th>id</th>
        <th>姓名</th>
        <th>年龄</th>
      </thead>
      <tbody>
        {% for line in data %}
        <tr>
          <td>{{ line.id }}</td>
          <td>{{ line.name }}</td>
          <td>{{ line.age }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr>
    </div>
    <div>
      <form id="deleteUpdata" action="/deleteStudents/" method="post">{% csrf_token %}
        <label for="name">请输入姓名：</label>
        <input type="text" name="name" style="width:105px">
        <input type="reset" value="重置">
        <input type="submit" name="deleteUpdata" value="删除">
        {% if del_result.statu == 'success' %}
        <p>{{nameIndb}}删除成功</p>
        {% elif del_result.statu == 'error' %}
        <p>查无此人</p>
        {% endif %}
      </form>
      <hr>
    </div>
    <div>
      <form id="changeStudents" action="/changeStudents/" method="post">{% csrf_token %}
        <label for="name">请输入姓名：</label>
        <input type="text" name="name" style="width:105px">
        <label for="age">请输入年龄：</label>
        <input type="number" name="age" style="width:95px">
        <input type="reset" value="重置">
        <input type="submit" name="changeStudents" value="修改">
        {% if change_result.statu == 'success' %}
        <p style="width:100%;text-align:center;color:green">修改成功！</p>
        {% elif change_result.statu == 'error' %}
        <p>查无此人</p>
        {% endif %}
      </form>
    </div>
        <div>
    <ul>
      {% for student in students %}
      <li>
        id:{{student.id}},姓名:{{student.name}},age:{{student.age}}
      </li>
      {% endfor %}
    </ul>
        </div>
  </body>
</html>
